
.closed-row {
  text-decoration: line-through;
  opacity: 0.6;
  background: rgba(255, 0, 0, 0.15);
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-image: url('https://lh3.googleusercontent.com/gps-cs-s/AG0ilSzIq00_oJTTw6yRfEGjug6isbJTUyAxP3OR7bRHKaU7GEsgpu88L-D2kv72L632QzvqvI1ECs-HobpUntvCFkHhaHI-RXYS5rsNlqy-MQt3xvyIzoXTKtWBvcdIh05ygvQtCOOpCpCne2OR=s1360-w1360-h1020-rw');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.top-header {
  width: 100%;
  text-align: center;
  padding: 18px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #0068b5, #00a6ff);
  letter-spacing: 1px;
}

.container {
  width: 900px;
  margin: 40px auto;
  padding: 25px;
  background: rgba(255,255,255,0.9);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1, h2 {
  text-align: center;
  color: #004d85;
  margin-bottom: 20px;
}

.entry-form input,
.entry-form select {
  width: 94%;
  padding: 12px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.btn-submit, .refresh-btn {
  width: 98%;
  padding: 12px;
  background: #00b0ff;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  margin: 12px auto;
  display: block;
  font-weight: bold;
  transition: 0.3s;
}

.btn-submit:hover, .refresh-btn:hover {
  background: #0085c9;
}

/* Table Styling */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #014f86;
  color: white;
}

tr:nth-child(even) {
  background: #eef7ff;
}

tr:hover {
  background: #d9f1ff;
}

button {
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}




